/* the 3rd section: video-news */
.video-news-container{
    /* background-color: aqua; */
    background-color: #fff;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 64px;
    color: rgb(3, 10, 18);
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 80px; */
}

.video-news-container .video-box,
.video-news-container .news-box{
    width: calc(50% - 0.75*16px);
    height: auto;
    background-color: #fff;
}

.section-content{
    position: relative;
    text-align: center;
}

.img-video{
    position: relative;
    width: 100%;
    height: 25rem;
}

.img-video img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.video-play-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
}

.video-play{
    color: #fff;
    text-align: center;
    opacity: 0.6;
    font-size: 48px;
    line-height: 1;
    cursor: pointer;
}

.video-play:hover{
    opacity: 0.9;
}
.play-span{
    font-size: 1.3rem;
}

.info-video{
    padding: 2rem;
}
.info-video{
    font-size: 1.4rem;
    font-weight: 700;
}

/* news-box */
.news-box-title{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 600;
    /* background-color: yellow; */
    position: relative;
    text-align: center;
}

.news-box-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.news-box-top::before,
.news-box-top::after{
    content: " ";
    width: 64px;
    height: 4px;
}

.news-box-top::before{
    margin-right: 20px;
    background-image: linear-gradient(-90deg, rgb(3, 10, 18) 0%, rgb(255, 255, 255) 100%);
}

.news-box-top::after{
    margin-left: 20px;
    background-image: linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgb(3, 10, 18) 100%);
}


#news-link{
    position: absolute;
    text-decoration: none;
    bottom: 0;
    right: 0;
    padding-bottom: 2px;
    font-weight: 600;
    color: #0164f9;
    font-size: 1.2rem;
    line-height: normal;
}

#news-link::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    background-color: #0164f9;
}

.section-content{
    position: relative;
    text-align: center;
}

.news-box-content{
    /* position: relative; */
    width: 100%;
    height: 25rem;
}

.carousel-item img{
    display: flex;
    width: 100%;
    height: 25rem;
    border-radius: 16px;
    object-fit: cover !important;
}

.info-news-title{
    text-decoration: none;
    color: #030a12;
}


.Brand-lists{
    display: flex;
    justify-content: space-between;
}

.brand-item{
    width: 32%;
    overflow: hidden;
    margin-left: 24px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 200;
    overflow: hidden;
}

.brand-item:first-child{
    margin-left: 0;
}

.brand-img-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 21rem;
    overflow: hidden;
}

.brand-item-img{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
}

.brand-img{
    transition: transform 0.5s ease-out;
    object-fit: contain;
}

.brand-item:hover .brand-img{
    transform: scale(1.05);
}

.brand-item-info{
    background-color: white;
    text-align: center;
}

.down-up .brand-top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(0);
    transition: transform 500ms ease;
}

.brand-item:hover .down-up > .brand-top{
    transform: translateY(-100%);
    /* the [transform: translateY(-100%);] 
    moves the element up */
}

.down-up .brand-top{
    font-size: 1.4rem;
    color: rgb(33, 32, 32);
    font-weight: 600;
}

.down-up .brand-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(110%);
    /* the [transform: translateY(110%);]
     moves the element down */
    transition: transform 500ms ease;
}

.brand-item:hover .down-up > .brand-bottom{
    transform: translateY(-100%);
    /* the [transform: translateY(-100%);] 
    moves the element up, on hover */
}

.brand-down .btn{
    background-color: #0164f9;
    color: #fff;
    border-radius: 40px;
    padding: 0.3rem 1rem;
    
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;

    min-width: 128px;
}

.brand-hover{
    position: relative;
}

.brand-play-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
}

.brand-play{
    color: #fff;
    text-align: center;
    opacity: 0.6;
    font-size: 45px;
    line-height: 1;
    cursor: pointer;
}

.brand-play:hover{
    opacity: 0.9;
}
.play-span{
    font-size: 1rem;
    font-weight: 600;
}

/* software */
.software{
    margin-bottom: 4rem;
    padding: 0 3%;
}

.software-content{
    width: calc(50% - 16px);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.software-img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.software-item{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.software-item{
    transition: transform 0.5s ease-out;
    
}

.software-content:hover .software-item{
    transform: scale(1.05);
}

.soft-button{
    position: absolute;
    text-align: center;
    z-index: 2;
    bottom: 32px;
    right: 0;
    left: 0;
}

.soft-btn{
    color: white;
    border: 1px solid #0164f9;
    background-color: #0164f9;
    padding: 0.4rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 30px;
}

footer{
    padding: 0 3%;
    background-color: #f5f5f5;
}

.footer-top{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-top-left{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.footer-top-left-items{
    margin-right: 32px;
    color: #030a12;
}

.item-title{
    font-size: 1rem;
    font-weight: 600;
    /* white-space: nowrap; */
}

.item-links{
    margin-top: 1rem;
    font-size: 0.9rem;
}

.item-links > a{
    color: #777;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

.item-links > a:hover{
    color: #000;
}

.tecno-logo img{
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto 16px;
}

.outside-site{
    text-align: center;
    
}

.font-icon{
    text-decoration: none;
    margin: 0 4px;
    font-size: 17px;
    color: #999;
}

.footer-bottom{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    color: #999;
}

.footer-bottom-left{
    display: flex;
    align-items: center;
}

.footer-bottom-links{
    margin-right: 2rem;
    white-space: nowrap;
}

.footer-bottom-links a{
    text-decoration: none;
    color: #999;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #ddd;
}

.footer-bottom-links a:last-child{
    border: 0;
}
.language img{
    height: 14px;
    margin-right: 5px;
    vertical-align: baseline;
}
.language a{
    text-decoration: none;
    font-size: 12px;
    color: #999;
}